.navbar {
    background-color: aqua;
    margin-bottom: 25px;
}

.link {
    margin: 0 5px;
    text-decoration: none;
    color: black;
    padding: 15px;
    padding-bottom: 20px;
}

.link:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}
